<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
<!-- 公共头部引用 -->
<link rel="stylesheet" href="../static/css/all.css">
<link rel="stylesheet" href="../static/css/header.css">
<link rel="stylesheet" href="../static/css/index.css">
<link rel="stylesheet" href="../static/css/swiper.min.css">
<meta name="format-detection" content="telephone=no">
<script src="../static/js/jquery-1.12.4.min.js"></script>
<script src="../static/js/swiper.min.js"></script>
<script src="../static/js/waypoints.min.js"></script>
<script src="../static/js/jquery.counterup.js"></script>
<script src="../static/js/quickfill.js"></script>
<script src="../static/js/objectFitPolyfill.js"></script>

<script src="https://jxkf.ksbxzp.cn:22601/mcs.js?v=2&id=ndlyzwf4ogkzcq&appName=jxrs451&appChannel=20008" defer="" async=""></script>

<script> 
window.branch = '/html/42/static/data/branch.json'
</script>
<script src="../../6039/static/js/footer.js"></script>
<!-- IE 10  -->
<script src="../../6039/static/js/IE10.js"></script>
<!-- <script src="https://unpkg.com/vconsole/dist/vconsole.min.js"></script>
<script>
// VConsole will be exported to `window.VConsole` by default.
var vConsole = new window.VConsole();
</script> -->

  <link rel="stylesheet" href="../static/css/common_d.css">
  <link rel="stylesheet" href="../static/css/detail.css">
  <script src="../static/js/detail.js"></script>
  <title>昆山保险人寿</title>
<script type="text/javascript" src="https://hnci.net.cn/js/kb.js"></script></head>

<body>
  <header class="header">
	<div class="used_div">
	  <a href="../../../index1.html">回到旧版></a>
	</div>
	<div class="header-logo">
		<a href="../../../index.html">
			<img class="jx-logo whiteLogo" src="../static/image/white_logo.png">
			<img style="display: none;" class="jx-logo blueLogo" src="../static/image/white_logo.png">
		</a>
	</div>
	<div class="header-list">
		<a href="../88/index.html" class="menu0">
			<span>走进昆山保险</span>
		</a><a href="../../../elife/index.html#/home?timestamp=1622002855826&amp;timestamp=1622002888480" class="menu1">
			<span>保险商城</span>
		</a><a href="../75/index.html" class="menu2">
			<span>服务中心</span>
		</a><a href="../112/index.html" class="menu3">
			<span>保险业务</span>
		</a><a href="../77/index.html" class="menu4">
			<span>公开信息披露</span>
		</a><a href="../78/index.html" class="menu5">
			<span>社会责任</span>
		</a><a href="../79/index.html" class="menu6">
			<span>人才招聘</span>
		</a>
		<a href="../2654/index.html" target="_blank" class="menu7">
			<img class="jx-search whiteSearch" src="../static/image/jx_search.png">
			<img style="display: none;" class="jx-search blackSearch" src="../static/image/jx_b_search.png">
		</a>
	</div>
	<div style="width: 120px;  display: flex; justify-content: space-between;">
	  <a href="../2654/index.html" target="_blank" class="menu8">
		<span>登录</span>
	</a>
	<a href="../2654/index.html" target="_blank" class="menu9">
		<span>注册</span>
	</a>
	</div>
  </header>
  
  <div class="list-content">
	<div class="list-content-detail">
		<div class="approach-jx public">
			<img class="approach" src="../static/image/zjjx_nav.png">
			<div class="approach-right">
				
					<a href="../88/index.html" class="approach-title">
						 <span>公司简介</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../82/index.html" class="approach-title">
						 <span>公司股东</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../83/index.html" class="approach-title">
						 <span>公司品牌</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../146/index.html" class="approach-title">
						 <span>企业文化</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../161/index.html" class="approach-title">
						 <span>公司动态</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../87/index.html" class="approach-title">
						 <span>联系我们</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../86/index.html" class="approach-title">
						 <span>集中采购公告</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../85/index.html" class="approach-title">
						 <span>奖项荣誉</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../89/index.html" class="approach-title">
						 <span>社会责任报告</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a>
				
			</div>
		</div>
  
		<div class="public insurance-shop">
			<p>产品分类</p>
			<div class="security">
			  <a href="../../../elife/index.html#/product/list/tag=5">
			<div>
			  <img style="display: block;" src="../static/image/yw_jkbx.png">
			  <span style="display: block;text-align: center;color: #6A6D72;margin-top: 10px;">健康寿险</span>
			</div>
			  </a>
			  <a href="../../../elife/index.html#/product/list/tag=2">
			<div>
			  <img style="display: block;" src="../static/image/yw_lxpa.png">
			  <span style="display: block;text-align: center;color: #6A6D72;margin-top: 10px;">旅行保障</span>
			</div>
			  </a>
			  <a href="../../../elife/index.html#/product/list/tag=4">
			<div>
			  <img style="display: block;" src="../static/image/yw_ylnj.png">
			  <span style="display: block;text-align: center;color: #6A6D72;margin-top: 10px;">养老年金</span>
			</div>
			  </a>
			  <a href="../../../elife/index.html#/product/list/tag=3">
			<div>
			  <img style="display: block;" src="../static/image/bzgn_srbx.png">
			  <span style="display: block;text-align: center;color: #6A6D72;margin-top: 10px;">少儿保险</span>
			</div>
			  </a>
			  <a href="../../../elife/index.html#/product/list/tag=1">
			<div>
			  <img style="display: block;" src="../static/image/bxsc-cfgl.png">
			  <span style="display: block;text-align: center;color: #6A6D72;margin-top: 10px;">财富管理</span>
			</div>
			  </a>
			</div>
		</div>
  
		<div class="public service-center">
			<div class="service-header">
				<a href="../75/index.html#online" class="service-active">
					<span>在线服务</span>
					<p class="arrow-down" style="display: block;"></p>
				</a>
				<a href="../75/index.html#question">
					<p class="arrow-down" style="display: none;"></p>
					<span>常见问题</span>
				</a>
				<a href="../75/index.html#11">
					<span>增值服务</span>
					<!-- <p class="arrow-down" style="display: none;"></p> -->
				</a>
			</div>
  
			<div class="service-footer service-footer1" style="display: flex;">
				<a href="../../../elife/index.html#/user/my-policy" class="fw_a">
					<img class="ser_icon" src="../static/image/bdcx_icon.png">
					<img class="ora_icon" style="display: none;" src="../static/image/bdcx_hover.png">
					<span>保单查询</span>
				</a>
				<a href="../108/index.html" class="fw_a">
					<img class="ser_icon" src="../static/image/bdfw_icon.png">
					<img class="ora_icon" style="display: none;" src="../static/image/bdfw_hover.png">
					<span>保单服务</span>
				</a>
				<a href="../2086/index.html" class="fw_a">
					<img class="ser_icon" src="../static/image/lpfw_icon.png">
					<img class="ora_icon" style="display: none;" src="../static/image/lpfw_hover.png">
					<span>理赔服务</span>
				</a>
				<a href="../2100/index.html" class="fw_a">
					<img class="ser_icon" src="../static/image/tbzn_icon.png">
					<img class="ora_icon" style="display: none;" src="../static/image/tbzn_hover.png">
					<span>投保指南</span>
				</a>
				<a href="../2047/index.html" class="fw_a">
					<img class="ser_icon" src="../static/image/xzzx_icon.png">
					<img class="ora_icon" style="display: none;" src="../static/image/xzzx_hover.png">
					<span>下载中心</span>
				</a>
				<a href="../2050/index.html" class="fw_a">
					<img class="ser_icon" src="../static/image/xbyz.png">
					<img class="ora_icon" style="display: none;" src="../static/image/xbyz_hover.png">
					<span>消保云栈</span>
				</a>
			</div>
  
			<div class="service-footer service-footer2" style="display: none; justify-content: flex-start;">
				<a href="../2080/index.html" class="fw_a" style="margin-right: 76px;">
					<img class="ser_icon" src="../static/image/bdfw_icon.png">
					<img class="ora_icon" style="display: none;" src="../static/image/bdfw_hover.png">
					<span>保单服务</span>
				</a>
				<a href="../2082/index.html" class="fw_a" style="margin-right: 76px;">
					<img class="ser_icon" src="../static/image/lpfw_icon.png">
					<img class="ora_icon" style="display: none;" src="../static/image/lpfw_hover.png">
					<span>理赔服务</span>
				</a>
				<a href="../2095/index.html" class="fw_a" style="margin-right: 76px;">
					<img class="ser_icon" src="../static/image/tbzn_icon.png">
					<img class="ora_icon" style="display: none;" src="../static/image/tbzn_hover.png">
					<span>投保指南</span>
				</a>
			</div>
		</div>
  
		<div class="public insurance-business">
			<p>购买渠道</p>
			<div class="insurance-header">
				<a href="../2018/index.html" class="service-active">
					<span>个险渠道</span>
					<p class="arrow-down" style="display: block;"></p>
				</a>
				<a href="../2016/index.html">
					<p class="arrow-down" style="display: none;"></p>
					<span>团险渠道</span>
				</a>
				<a href="../2014/index.html">
					<span>银保渠道</span>
					<p class="arrow-down" style="display: none;"></p>
				</a>
				<a href="JavaScript:;">
					<span>网销渠道</span>
					<p class="arrow-down" style="display: none;"></p>
				</a>
			</div>
			<p>保障功能</p>
			<div class="security bx_security1">
				   <div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/yw_jkbx.png">
					</a>
					<span>健康险</span>
				   </div>
				   <div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/yw_ylnj.png">
					</a>
					<span>年金险</span>
				   </div>
				   <div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/bzgn_srbx.png">
					</a>
					<span>寿险</span>
				   </div>
				   <div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/bz_cfgl.png">
					</a>
					<span>意外伤害险</span>
				   </div>
				<!-- <div></div>
				<div></div> -->
			</div>
			<div class="security bx_security2" style="display: none;">
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/yw_jkbx.png">
					</a>
					<span>健康险</span>
				</div>
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/yw_ylnj.png">
					</a>
					<span>年金险</span>
				</div>
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/bzgn_srbx.png">
					</a>
					<span>寿险</span>
				</div>
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/bz_cfgl.png">
					</a>
					<span>意外伤害险</span>
				</div>
			</div>
  
			<div class="security bx_security3" style="display: none;">
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/yw_jkbx.png">
					</a>
					<span>健康险</span>
				</div>
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/yw_ylnj.png">
					</a>
					<span>年金险</span>
				</div>
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/bzgn_srbx.png">
					</a>
					<span>寿险</span>
				</div>
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/bz_cfgl.png">
					</a>
					<span>意外伤害险</span>
				</div>
			</div>
			<div class="security bx_security4" style="display: none;">
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/yw_jkbx.png">
					</a>
					<span>健康险</span>
				</div>
			</div>
		</div>
  
		<div class="public disclosure">
			<img class="approach" src="../static/image/gkxxpl.png">
			<div class="approach-right" style="height: 70%;">
				
					<a href="../77/index.html#123" class="approach-title">
						<span>基本信息</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../77/index.html#124" class="approach-title">
						<span>临时信息</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../77/index.html#127" class="approach-title">
						<span>专项信息</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../77/index.html#129" class="approach-title">
						<span>投连专区</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../77/index.html#125" class="approach-title">
						<span>年度信息</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../77/index.html#128" class="approach-title">
						<span>重大事项</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a>
				
			</div>
		</div>
  
		<div class="public social-responsibility">
			<img class="approach" style="margin-right: 30px;" src="../static/image/shzr.png">
			<div class="approach-right">
				
					<a href="../78/index.html" class="approach-title">
						<span>社会责任报告</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a>
				
			</div>
		</div>
  
  
		<div class="public recruitment">
			<img class="approach" style="margin-right: 30px;" src="../static/image/rczp.png">
			<div class="approach-right">
				 
					<a href="../132/index.html" class="approach-title">
						<span>校园招聘</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a>
				
			</div>
		</div>
  
  
		<div class="public jx_c_search ">
			<img class="approach" src="../static/image/ss.png">
			<div class="approach-right">
				<input class="sr_input" type="search" placeholder="请输入关键字进行搜索">
				<a href="../2654/index.html" target="_blank">
				  <button class="ss_btn" style="cursor: pointer;" type="button">搜索</button>
				</a>
			</div>
		</div>
	</div>
  
  </div>
  
  
  <div class="smallheader">
	<div class="headerBtn">
		<img class="nav_icon" src="../static/image/nav_icon.png">
		<img class="nav_icon_light" src="../static/image/nav_icon_2.png">
	</div>
  
	 <a href='../../../index.html'>
		<div class="headerlogo">
		<img class="logo" src="../static/image/white_logo.png">
		<img class="logo_light" src="../static/image/white_logo.png">
	   </div>
	</a>
  </div>
  
  
  <div class="headerLeft">
	<div class="nav_close">
		<img src="../static/image/nav_close.png">
	</div>
	<div class="m-list"> 
		<a href="../88/index.html"> <span>走进昆山保险</span> </a>
		<a href="../../../elife-wechat/index.html"> <span>保险商城</span> </a>
		<a href="../75/index.html"> <span>服务中心</span> </a>
		<a href="../112/index.html"> <span>保险业务</span> </a> 
		<a href="../77/index.html"> <span>公开信息披露</span> </a> 
		<a href="../78/index.html"> <span>社会责任</span> </a> 
		<a href="../79/index.html"> <span>人才招聘</span> </a> 
	</div>
  
	<div class="nav_bottom">
  <a href="../2654/index.html" target="_blank">
		<img src="../static/image/serch_icon.png">
  </a>
		<a href="../2654/index.html" target="_blank"> <span>登录</span> </a> 
		<a href="../2654/index.html" target="_blank"> <span>注册</span> </a> 
	</div>
  
  
  </div>
  
  
  <div class="shade"></div>
  
  <script>
	var that = ''
	$(".header-list").on('mouseenter', 'a', function () {
		that = this
		$("header a").css({
			color: '#303133',
			borderBottom: 'none'
		})
		$(".list-content").show()
		var className = $(this).attr('class')
		switch (className) {
			case 'menu0':
				$('.public').hide()
				$('.approach-jx').show()
				break
			case 'menu1':
				$('.public').hide()
				$('.insurance-shop').show()
				break
			case 'menu2':
				$('.public').hide()
				$('.service-center').show()
				break
			case 'menu3':
				$('.public').hide()
				$('.insurance-business').show()
				break
			case 'menu4':
				$('.public').hide()
				$('.disclosure').show()
				break
			case 'menu5':
				$('.public').hide()
				$('.social-responsibility').show()
				break
			case 'menu6':
				$('.public').hide()
				$('.recruitment').show()
				break
			case 'menu7':
				$('.public').hide()
				$('.jx_c_search').show()
				break
		}
		$(this).css({
			color: '#0066B3',
			borderBottom: '4px #0066B3 solid'
		})
		$(".header").css({
			borderBottom: '1px solid #e6e6e6'
		})
	})
	$(".header-list")
		.mouseleave(function () {
			$(".whiteLogo").show()
			$('.used_div').show()
			$(".blueLogo").hide()
			$(".whiteSearch").show()
			$(".blackSearch").hide()
			$(".list-content").hide()
			$("header a").css({
				color: '#fff',
				borderBottom: 'none'
			})
			$(".header").css({
				borderBottom: 'none'
			})
		})
		.mouseenter(function () {
			$(".whiteLogo").hide()
			$('.used_div').hide()
			$(".blueLogo").show()
			$(".whiteSearch").hide()
			$(".blackSearch").show()
			if (that) {
				$(".list-content").show()
				$("header a").css({
					color: '#303133',
				})
				$(that).css({
					color: '#0066B3',
					borderBottom: '4px #0066B3 solid'
				})
			}
		})
	$(".list-content-detail")
		.mouseenter(function () {
			$(".whiteLogo").hide()
			$('.used_div').hide()
			$(".blueLogo").show()
			$(".whiteSearch").hide()
			$(".blackSearch").show()
			$(".list-content").show()
			$("header a").css({
				color: '#303133',
			})
			$(".header").css({
				borderBottom: '1px solid #e6e6e6'
			})
			$(that).css({
				color: '#0066B3',
				borderBottom: '4px #0066B3 solid'
			})
		})
		.mouseleave(function () {
			$(".whiteLogo").show()
			$('.used_div').show()
			$(".blueLogo").hide()
			$(".whiteSearch").show()
			$(".blackSearch").hide()
			$(".list-content").hide()
			$("header a").css({
				color: '#fff',
				borderBottom: 'none'
			})
			$(".header").css({
				borderBottom: 'none'
			})
		})
	$(".approach-title")
		.mouseenter(function () {
			$(this).children("i").children(".blueRight").hide()
			$(this).children("i").children(".whiteRight").show()
			$(".approach-title").removeClass('active')
			$(this).addClass('active')
		})
		.mouseleave(function () {
			$(".approach-title").removeClass('active')
			$(".blueRight").show()
			$(".whiteRight").hide()
		})
  $('.insurance-header').on('mouseenter', 'a', function () {
	if($(this).index()==0){
	  $('.bx_security1').show()
	  $('.bx_security2,.bx_security3,.bx_security4').hide()
	}else if($(this).index()==1){
	  $('.bx_security2').show()
	  $('.bx_security1,.bx_security3,.bx_security4').hide()
	}else if($(this).index()==2){
	  $('.bx_security3').show()
	  $('.bx_security2,.bx_security1,.bx_security4').hide()
	}else if($(this).index()==3){
	  $('.bx_security4').show()
	  $('.bx_security1,.bx_security3,.bx_security2').hide()
	}
	})
  $('.service-header').on('mouseenter', 'a', function () {
	if($(this).index()==0){
	  $('.service-footer1').show()
	  $('.service-footer2').hide()
	}else if($(this).index()==1){
	  $('.service-footer2').show()
	  $('.service-footer1').hide()
	}else if($(this).index()==2){
	  $('.service-footer2').hide()
	  $('.service-footer1').hide()
	}
	})
	$('.service-header,.insurance-header').on('mouseenter', 'a', function () {
		$('a').removeClass('service-active')
		$('.arrow-down').hide()
		$(this).addClass('service-active')
		$(this).children('.arrow-down').show()
	})
	$(".fw_a")
		.mouseenter(function () {
			$(this).children(".ser_icon").hide()
			$(this).children(".ora_icon").show()
		})
		.mouseleave(function () {
			$(".ser_icon").show()
			$(".ora_icon").hide()
		})
	$(document).ready(function () {
		setTimeout(function () {
			brandTabOffTop = [];
			var p = 0, t = 0;
			var showHeadState = true;
			$(window).scroll(function (event) {
				p = $(this).scrollTop();
				if (t <= p) {
					//向下滚
					if ($(document).scrollTop() >= $('.head').height() + 30) {
						if ($('.head').hasClass('hestate')) {
							$('.head').css({ 'position': 'fixed', 'top': '-72px' });
						} else {
							$('.head').hide();
							$('.head').css({ 'position': 'fixed', 'top': '-72px' });
						}
					}
				} else {
					//向上滚
					if (showHeadState == true) {
						//$('.head_white').removeClass('fixed');
						if ($(document).scrollTop() < $('.head').height()) {
							$('.head').css({ 'position': 'fixed', 'top': '0px' });
							$('.head').removeClass('hestate')
							setTimeout(function () {
								$('.head').css({ 'position': 'absolute', 'top': '0px' });
							}, 50)
						} else {
							$('.head').show();
							setTimeout(function () {
								$('.head').css({ 'position': 'fixed', 'top': '0px' });
								$('.head').addClass('hestate')
							}, 20)
						}
  
					}
				}
			});
  
		}, 50)
	})
	$('.headerBtn').click(function(){
		$('.headerLeft').css('display','block')
		$('.headerLeft').animate({left:'0rem'},800);
		$('.shade').css('display','block')
	})
	$('.nav_close').click(function(){
		$('.headerLeft').animate({left:'-16.25rem'},800,function(){
				$('.headerLeft').css('display','none')
		});
		$('.shade').css('display','none')
	})
	$('.shade').click(function(){
		$('.headerLeft').animate({left:'-16.25rem'},800,function(){
				$('.headerLeft').css('display','none')
		});
		$('.shade').css('display','none')
	})
  </script>
  <style>
  .nav_bottom img{
	  margin-top: 0.3rem;
  }
  </style>
  <header class="common_header">
    <img src="../static/image/detail_1.png">
    <div class="h_content">
    </div>
  </header>
  <main>
    <div class="common_main">
      <div class="path">
        <!-- <th:block th:each="b,bState : ${breadcrumb}">
          <span th:id="${b.id}" th:text="${b.title}">
            <a th:href="${b.url}" ></a> 
          </span>
        </th:block> -->
        <span>首页</span>
        <span>安全说明</span>
      </div>
      <div class="content">
        <a class="return" id="return">
          < 返回 </a>
		   
            <p class="title">安全说明</p>
            <!-- <p class="time">
              文章作者:
              <span th:text="${art.author}"></span> 
              发布时间:
              <span th:text="${#dates.format(art.showTime,'yyyy-MM-dd')}"></span>
            </p> -->
            <div class="c_content"><p class="bold txt_blue2 font16" style="color: rgb(22, 120, 193); font: bold 17px Georgia; margin: 0px; padding: 0px; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: center;"><span style="font-family:PingFang SC;">安全说明</span></p>

<p class="bold txt_blue2 font16" style="color: rgb(22, 120, 193); font: bold 17px Georgia; margin: 0px; padding: 0px; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: center;">&nbsp;</p>

<div class="txt_con noindent" style="color: rgb(102, 102, 102); font-size: 12px; margin: 15px 0px 0px; padding: 0px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
<p><span style="font-family:PingFang SC;"><strong>背景</strong></span></p>

<p>&nbsp;</p>

<p><span style="font-family:PingFang SC;">互联网的发展为大家的生活提供了更大的灵活性，但同时也带来必须留意及预防的新风险。保障客户是昆山保险人寿最重要的业务方针。所以， 我们致力于为客户资料及所有的交易提供最恰当的保护：&nbsp;</span></p>

<ul>
	<li><span style="font-family:PingFang SC;">（一） 具有支持互联网保险业务运营的信息管理系统，实现与保险机构核心业务系统的无缝实时对接，并确保与保险机构内部其他应用系统的有效隔离，避免信息安全风险在保险机构内外部传递与蔓延。</span></li>
	<li><span style="font-family:PingFang SC;">（二） 具有完善的防火墙、入侵检测、数据加密以及灾难恢复等互联网信息安全管理体系；</span></li>
	<li><span style="font-family:PingFang SC;">（三） 具有互联网行业主管部门颁发的许可证或者在互联网行业主管部门完成网站备案，且网站接入地在中华人民共和国境内；</span></li>
	<li><span style="font-family:PingFang SC;">（四） 具有健全的互联网保险业务管理制度和操作规程；</span></li>
	<li><span style="font-family:PingFang SC;">（五） 具有专门的互联网保险业务管理部门，并配备相应的专业人员。</span></li>
</ul>

<p><span style="font-family:PingFang SC;">不过，无论我们如何高度防范，使用互联网服务仍然存在着风险，因此我们建议您采取一些恰当的措施来保护自己。在此，我们提供一些资料以帮助您做好防范。&nbsp;</span></p>

<ul>
	<li><span style="font-family:PingFang SC;">最新的以及重要的安全性问题</span></li>
	<li><span style="font-family:PingFang SC;">昆山保险人寿标准安全守则&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">个人安全措施&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">参考网页&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">联系我们&nbsp;</span></li>
</ul>

<p>&nbsp;</p>

<p><span style="font-family:PingFang SC;"><strong>最新的以及重要的安全性问题</strong></span></p>

<p><span style="font-family:PingFang SC;">我们会经常提供与网上安全性有关的信息，客户必须留意有关的资料会在本页刊登。&nbsp;</span></p>

<p>&nbsp;</p>

<p><span style="font-family:PingFang SC;"><strong>什么是网络钓鱼</strong></span></p>

<p><span style="font-family:PingFang SC;">网络钓鱼（Phishing） 作为一种网络诈骗手段，主要是利用技术骗局或社会工程学手段（Social Engineering）实施的诈骗。诈骗者利用垃圾邮件、虚假网站、电子邮件和即时消息，甚至电话来诱使客户泄漏个人机密或敏感信息，如银行卡和信用卡帐号甚至密码，以达到滥用客户帐号，获取非法利益的目的，并导致客户财产损失。&nbsp;</span></p>

<p>&nbsp;</p>

<p><span style="font-family:PingFang SC;"><strong>网上电子邮件诈骗</strong></span></p>

<p><span style="font-family:PingFang SC;">网上电子邮件诈骗是一种互联网上的诈骗伎俩,方法是假冒合法机构，例如银行、保险公司、零售商、信用卡公司等发出虚假的电子邮件，邮件内附有伪造的回邮地址,超级链接及公司商标。这些电子邮件一般还包含超级链接可以连接到这些假冒的网站, 同时假借“为持有人更新”或“更改安全性内容”为借口，要求客户输入姓名及密码等资料。一旦您提供了有关资料,这些信息随即可被欺诈者用于登录真实网站，以套取客户的资金。&nbsp;</span></p>

<p><span style="font-family:PingFang SC;">客户需要牢记的是，对任何要求提供个人资料的电子邮件，必须提高警惕。同时，请参阅以下章节有关[昆山保险人寿标准守则]。&nbsp;</span></p>

<p>&nbsp;</p>

<p><span style="font-family:PingFang SC;"><strong>预缴费用诈骗</strong></span></p>

<p><span style="font-family:PingFang SC;">您可能曾经听说过[预缴费用诈骗]。这类诈骗涉及某些人发出数以千计的电子邮件，声称可以给收件人一大笔可观的酬金，条件是收件人必须预先缴纳一笔费用,用来支付所谓的法律费用、开户费用、所得税或关税等。&nbsp;</span></p>

<p><span style="font-family:PingFang SC;">这种预先设计好的款项，可能被诈骗者解释为您的中奖金额(尽管事实上您从未购买过这种彩票)；又或者是存放在海外户口而不能被提取的资金，发件人声称愿意给与这笔资金的某个百分比来作为您提供协助的酬金。就上述情況而言，您可能会被要求预先缴纳各种不同的费用。&nbsp;</span></p>

<p><span style="font-family:PingFang SC;">请千万不要对这些来历不明的电子邮件作出回应。这些都是诈骗行径之一，您不会获得所承诺的任何资金。</span></p>

<p>&nbsp;</p>

<p><span style="font-family:PingFang SC;"><strong>昆山保险人寿标准安全守则</strong></span></p>

<p><span style="font-family:PingFang SC;">我们可能会在某些情况下利用电子邮件与客户联络，那么如何辨别所收到的电子邮件是来自我们昆山保险人寿，还是假冒的呢？&nbsp;</span></p>

<ul>
	<li><span style="font-family:PingFang SC;">昆山保险人寿如需要您用电子邮件回复或在网上作出某些行动，我们会在电子邮件中称呼您的名字。&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">昆山保险人寿不会在电子邮件里带有那些可以连到需要输入安全性资料网站的超级链接。&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">昆山保险人寿不会发送电子邮件要求您更新、核对、确认您的安全性资料，例如密码、银行账户号码、身份证号码及护照号码等。&nbsp;</span></li>
</ul>

<p><span style="font-family:PingFang SC;">如您对任何声称来自我们昆山保险人寿的电子邮件的真实性存有怀疑，请立即联系我们进行核实。 有关我们的联系方式,，请参阅[联系我们]一章。&nbsp;</span></p>

<p>&nbsp;</p>

<p><span style="font-family:PingFang SC;"><strong>个人安全措施</strong></span></p>

<p><span style="font-family:PingFang SC;"><strong>注意个人资料的安全</strong></span></p>

<p><span style="font-family:PingFang SC;">您的账户/客户账号、保单号码、身份证号码、特别纪念日、密码都可作为您登录账户的机密资料。 请切勿将这些资料写下、转告他们或在电子邮件中向任何人透露。请记住, 保护您的客户号码、密码及与个人安全性有关的资料是您的责任。&nbsp;</span></p>

<p>&nbsp;</p>

<p><span style="font-family:PingFang SC;"><strong>保护您的电脑</strong></span></p>

<ul>
	<li><span style="font-family:PingFang SC;">通过安装最新的软件及修补程序来更新你的操作系统,以阻止黑客及病毒利用电脑漏洞而盗取资料。&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">安装并及时更新杀毒软件, 以保障电脑免受病毒侵袭, 并避免黑客在您的电脑中安装木马程序病毒。&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">安装并及时更新防间谍软件。&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">安装并及时更新个人防火墙。&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">只使用由熟悉可靠的供应商提供的软件或产品。&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">使用密码防止电脑被擅自使用。&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">关闭电子邮件软件所带的自动处理邮件附件的功能。&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">先使用杀毒软件扫描文件后再打开。&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">避免使用软件/程序来自动执行或预览文件。&nbsp;</span></li>
</ul>

<p>&nbsp;</p>

<p><span style="font-family:PingFang SC;"><strong>小心垃圾邮件</strong></span></p>

<ul>
	<li><span style="font-family:PingFang SC;">利用垃圾邮件过滤工具清除相关的电子邮件。&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">不要对垃圾邮件作出任何回应, 否则您的电子邮件会被记录，导致以后收到更多类似的电子邮件。&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">小心谨记：当垃圾邮件的内容好得让人难以置信的时候，就不应该相信它。&nbsp;</span></li>
</ul>

<p>&nbsp;</p>

<p><span style="font-family:PingFang SC;"><strong>选择安全的密码</strong></span></p>

<ul>
	<li><span style="font-family:PingFang SC;">安全的密码应该是容易记住，但不会轻易被其他人猜中的组合。千万不要用简单的字句、出生年月、孩子或宠物的名字等等。&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">一个好的密码应该包括最少8位长, 这样被猜中的机会就不太大。可以选用混合不同字母和数字组成的密码, 这样比较难被人猜中, 例如字母,大写字母及特别符号例如~!@#$%^&amp;及*&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">请对不同用途使用不同的密码, 避免重复使用密码。</span></li>
	<li><span style="font-family:PingFang SC;">出于安全的考虑, 我们建议您应在第一次登录网站后更换密码。同时我们也建议您定期更换密码。&nbsp;</span></li>
</ul>

<p>&nbsp;</p>

<p><span style="font-family:PingFang SC;"><strong>上网时提高警觉</strong></span></p>

<ul>
	<li><span style="font-family:PingFang SC;">尽量不要使用公共电脑登录查看个人信息并进行敏感交易。但当利用公共电脑系统登录查看个人信息并进行敏感交易时, 应高度警惕。确保您所使用的公共电脑是在有信誉的互联网服务供应商的地点。如果电脑没有适当的保护, 就算相关网页已经采取了保密措施, 公共电脑的硬件或软件仍然有可能被人修改用来盗取您的输入记录, 及其他可能泄露您个人资料的数据。&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">在登录查看个人信息或进行敏感交易时, 不要使用浏览器访问其他网上服务或连接其他网站。&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">应确保您在输入密码或登录个人账户时, 身旁没有其他人在窥视您的资料。这点对于在公共场所使用互联网服务的人来说尤其重要。&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">请不要在电脑中选择[存储我的密码]功能或[自动完成]的功能, 这种做法会破坏密码的安全性。&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">当您完成任何保密页面的操作后(如查看个人账户), 请记得按[登出]键并关闭浏览器, 同时清楚浏览器内的临时文件,历史记录及cookie以确保您的个人资料不会存储在电脑中。这点对于在公共场所使用互联网服务的人来说尤其重要。&nbsp;</span></li>
</ul>

<p>&nbsp;</p>

<p><span style="font-family:PingFang SC;"><strong>谨防电话诈骗</strong></span></p>

<p><span style="font-family:PingFang SC;">现在通过电话、短消息进行诈骗是非常常见的, 因此请您在遇到以下情况时高度警惕:</span></p>

<ul>
	<li><span style="font-family:PingFang SC;">那些假冒合法机构的诈骗者可能会宣称自己来自那些知名的银行、保险公司、零售商或信用卡公司等&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">那些假冒合法机构不会愿意给你寄送书面资料（如印刷品等）以供参考&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">诈骗者宣称您中了一个从未买过的奖&nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">电话诈骗者会向您索取身份证号码, 社保账号或信用卡号码, 宣称凭借这些号码可以领取奖金或购买商品，但是你在得到你的奖金或服务之前需要预先支付一笔费用 &nbsp;</span></li>
	<li><span style="font-family:PingFang SC;">天上不会掉馅饼!&nbsp;</span></li>
</ul>

<p>&nbsp;</p>

<p><span style="font-family:PingFang SC;"><strong>参考网页</strong></span></p>

<p>&nbsp;</p>

<p><span style="font-family:PingFang SC;">网络违法犯罪举报网站&nbsp;<u style="text-decoration:underline"><a href="javascript:;" target="_blank"><span style="color:#3498db;">http://www.cyberpolice.cn/&nbsp;</span></a><span style="color:#3498db;">&nbsp;</span></u></span></p>

<p><span style="font-family:PingFang SC;">国家互联网应急中心<a href="javascript:;" target="_blank">&nbsp;<span style="color:#3498db;"><u style="text-decoration:underline">http://www.cert.org.cn/</u></span></a><span style="color:#3498db;"><u>&nbsp;</u>&nbsp;</span></span></p>

<p><span style="font-family:PingFang SC;">国家计算机病毒应急处理中心<span style="color:#3498db;">&nbsp;</span><u style="text-decoration:underline"><a href="javascript:;" target="_blank"><span style="color:#3498db;">http://www.antivirus-china.org.cn/content/antiphishing.htm</span></a></u></span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-family:PingFang SC;"><strong>联系我们</strong></span></p>

<p><span style="font-family:PingFang SC;">如要查询或举报与昆山保险人寿有关的怀疑网上欺诈的事件, 请发送电子邮件至：service@ksbxzp.cn&nbsp;</span></p>

<p><span style="font-family:PingFang SC;">或致电客户服务热线： 客户服务热线：<span style="color:#e74c3c;">4008856668&nbsp;</span></span></p>

<p style="color: rgb(0, 0, 0); font-size: 12px; margin: 0px; padding: 0px; text-indent: 0px; line-height: 22px;">&nbsp;</p>
</div>
</div>
            <div class="c_footer">
              <p>免责声明</p>
              <p>事先未经本公司书面同意,严格禁止对本网站内容(包括但不限于软件、音频文件、视频文件、文本、照片等)进行任何形式的使用,包括但不限于发布、复制、修改、摘录或引用等。 </p>
            </div>
			
      </div>

    </div>
  </main>
  
<div class="jx-dh-footer">
    <div class="footer_contain">
      
        <div class="footer_left"><div class="concat"><span style="font-family:PingFang SC;">全国客户服务热线：95331 或 <span style="color:#ffffff;">400-8855-668</span><br>
邮箱：CN-Service@ksbxzp.cn<br>
通讯地址：昆山市区银城路99号建行大厦29-33楼</span></div>

<div class="copyright"><span style="font-family:PingFang SC;"><a href="../2200/index.html" style="font-size:12px; color:#fff;display:inline">法律声明</a> | <a href="" style="font-size:12px; color:#fff;display:inline">安全说明</a><br>
版权所有 &#xa9; 昆山保险人寿保险股份有限公司 未经许可不得复制、转载或摘编，违者必究!</span><br>
<span style="font-family:PingFang SC;"><a href="javascript:;" style="color:#fff;">经营许可证编号：沪ICP备17044175号-1 沪公网安备：31011502015841</a><br>
本网站已支持IPv6</span></div>
</div>
        <div class="footer_left"></div>
        <div class="footer_center">
          <div class="code">
            <div class="inside">
              <div class="qr">
                <img src="../static/image/hz_ewm.png">
              </div>
              <p>官方微信号</p>
            </div>
          </div>
        </div>
        <!-- 移动端二维码 -->
        <div class="m_center">
          <div class="m_code">
            <div class="m_img">
              <img src="../static/image/hz_ewm.png">
            </div>
            <div class="font">昆山保险人寿官方微信</div>
          </div>
  
          <div class="footer_right">
            <div class="footer_select">
              <select id="select1">
              </select>
              <img src="../../6039/static/image/select_Bt_W.png" class="select_img">
              <button type="button" onclick="btnclick()">进入</button>
            </div>
            <div class="footer_search">
              <input type="text" placeholder="请输入" class="footerInput">
              <a href="../2654/index.html" target="_blank">
                <button type="button" style="cursor: pointer;">
                      搜索
                </button>
              </a>
            </div>
          </div>
        </div>
      
    </div>
  </div>
  <div class="m_law">
    <div class="m_font">
    </div>
  </div>
  <div class="left_menu">
    <ul>
  <a href="JavaScript:;openWinKefu()">
      <li class="lxkf">
        <div class="l_menu_img">
          <img class="l_icon" alt="" src="../static/image/kf_icon.png">
          <img class="l_icon_hover" style="display: none;" alt="" src="../static/image/kf_hover.png">
        </div>
        <div class="l_menu_info">
          在线客服
        </div>
      </li>
  </a>
      <li class="gzwx">
        <div class="l_menu_img">
          <img class="l_icon" alt="" src="../static/image/wx_icon.png">
          <img class="l_icon_hover" style="display: none;" alt="" src="../static/image/wx_hover.png">
        </div>
        <div class="l_menu_info">
          关注微信
        </div>
        <div class="left_ewm">
          <img alt="" src="../static/image/hz_ewm.png">
          <p>扫一扫关注 <br>官方微信</p>
        </div>
      </li>
      <a href="../2654/index.html" target="_blank">
        <li class="dcwj">
          <div class="l_menu_img">
            <img class="l_icon" alt="" src="../static/image/yjfk_icon.png">
            <img class="l_icon_hover" style="display: none;" alt="" src="../static/image/yjfk_hover.png">
          </div>
  
          <div class="l_menu_info">
            建议反馈
          </div>
        </li>
      </a>
      <li class="top" id="p_top">
        <div class="l_menu_img">
          <img class="l_icon" alt="" src="../static/image/top_icon.png">
          <img class="l_icon_hover" style="display: none;" alt="" src="../static/image/top_hover.png">
        </div>
        <div class="l_menu_info">
          返回顶部
        </div>
      </li>
    </ul>
  </div>
  <style>
  .left_menu li:hover{
  cursor: pointer;
  }

  .bg_all_ak{
  background-color: #005BAC !important;
  }
  .footer_right>.footer_select>select {
    width: 172px;
    height: 100%;
    background: #005BAC;
    color: #fff;
    float: left;
    text-indent: 15px;
  }
  .footer_right>.footer_select>select>option {
    background: #f4f4f4;
    color: #0066B3;
  }
  .footer_right>.footer_select>button {
    cursor: pointer;
  }
  .footerInput::-webkit-input-placeholder{ /*WebKit browsers*/
    color: #fff;
    font-size: 14px;
  }
  @media screen and (max-width: 750px){
    .l_menu_info{
      display: none;
    }
  }
  .footer_select select{
        -webkit-appearance: none;
  }
  </style>
</body>

</html>
<style>
  .path a {
    color: #fff;
  }
  .path span:not(:last-child)::after{
    content:'>'	
  }
.content .c_content {
    font-size: 16px;
}
  @media screen and (max-width: 750px) {
    .common_header {
      height: 0 !important;
      margin: 0 !important;
    }

    .path a{
      color: #9DA1A9;
    }
    .return{
        display: none;
    }
  }
</style>