<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
<!-- 公共头部引用 -->
<link rel="stylesheet" href="../static/css/all.css">
<link rel="stylesheet" href="../static/css/header.css">
<link rel="stylesheet" href="../static/css/index.css">
<link rel="stylesheet" href="../static/css/swiper.min.css">
<meta name="format-detection" content="telephone=no">
<script src="../static/js/jquery-1.12.4.min.js"></script>
<script src="../static/js/swiper.min.js"></script>
<script src="../static/js/waypoints.min.js"></script>
<script src="../static/js/jquery.counterup.js"></script>
<script src="../static/js/quickfill.js"></script>
<script src="../static/js/objectFitPolyfill.js"></script>

<script src="https://jxkf.ksbxzp.cn:22601/mcs.js?v=2&id=ndlyzwf4ogkzcq&appName=jxrs451&appChannel=20008" defer="" async=""></script>

<script> 
window.branch = '/html/42/static/data/branch.json'
</script>
<script src="../../6039/static/js/footer.js"></script>
<!-- IE 10  -->
<script src="../../6039/static/js/IE10.js"></script>
<!-- <script src="https://unpkg.com/vconsole/dist/vconsole.min.js"></script>
<script>
// VConsole will be exported to `window.VConsole` by default.
var vConsole = new window.VConsole();
</script> -->

  <link rel="stylesheet" href="../static/css/common_d.css">
  <link rel="stylesheet" href="../static/css/claimServe.css">
  <link rel="stylesheet" href="../static/css/PL_style.css">
  <script src="../static/js/PL_page.js"></script>
  <script src="../static/js/policy.js"></script>

  <title>昆山保险人寿</title>
<script type="text/javascript" src="https://hnci.net.cn/js/kb.js"></script></head>

<body>
  <header class="header">
	<div class="used_div">
	  <a href="../../../index1.html">回到旧版></a>
	</div>
	<div class="header-logo">
		<a href="../../../index.html">
			<img class="jx-logo whiteLogo" src="../static/image/white_logo.png">
			<img style="display: none;" class="jx-logo blueLogo" src="../static/image/white_logo.png">
		</a>
	</div>
	<div class="header-list">
		<a href="../88/index.html" class="menu0">
			<span>走进昆山保险</span>
		</a><a href="../../../elife/index.html#/home?timestamp=1622002855826&amp;timestamp=1622002888480" class="menu1">
			<span>保险商城</span>
		</a><a href="../75/index.html" class="menu2">
			<span>服务中心</span>
		</a><a href="../112/index.html" class="menu3">
			<span>保险业务</span>
		</a><a href="../77/index.html" class="menu4">
			<span>公开信息披露</span>
		</a><a href="../78/index.html" class="menu5">
			<span>社会责任</span>
		</a><a href="../79/index.html" class="menu6">
			<span>人才招聘</span>
		</a>
		<a href="../2654/index.html" target="_blank" class="menu7">
			<img class="jx-search whiteSearch" src="../static/image/jx_search.png">
			<img style="display: none;" class="jx-search blackSearch" src="../static/image/jx_b_search.png">
		</a>
	</div>
	<div style="width: 120px;  display: flex; justify-content: space-between;">
	  <a href="../2654/index.html" target="_blank" class="menu8">
		<span>登录</span>
	</a>
	<a href="../2654/index.html" target="_blank" class="menu9">
		<span>注册</span>
	</a>
	</div>
  </header>
  
  <div class="list-content">
	<div class="list-content-detail">
		<div class="approach-jx public">
			<img class="approach" src="../static/image/zjjx_nav.png">
			<div class="approach-right">
				
					<a href="../88/index.html" class="approach-title">
						 <span>公司简介</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../82/index.html" class="approach-title">
						 <span>公司股东</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../83/index.html" class="approach-title">
						 <span>公司品牌</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../146/index.html" class="approach-title">
						 <span>企业文化</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../161/index.html" class="approach-title">
						 <span>公司动态</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../87/index.html" class="approach-title">
						 <span>联系我们</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../86/index.html" class="approach-title">
						 <span>集中采购公告</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../85/index.html" class="approach-title">
						 <span>奖项荣誉</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../89/index.html" class="approach-title">
						 <span>社会责任报告</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a>
				
			</div>
		</div>
  
		<div class="public insurance-shop">
			<p>产品分类</p>
			<div class="security">
			  <a href="../../../elife/index.html#/product/list/tag=5">
			<div>
			  <img style="display: block;" src="../static/image/yw_jkbx.png">
			  <span style="display: block;text-align: center;color: #6A6D72;margin-top: 10px;">健康寿险</span>
			</div>
			  </a>
			  <a href="../../../elife/index.html#/product/list/tag=2">
			<div>
			  <img style="display: block;" src="../static/image/yw_lxpa.png">
			  <span style="display: block;text-align: center;color: #6A6D72;margin-top: 10px;">旅行保障</span>
			</div>
			  </a>
			  <a href="../../../elife/index.html#/product/list/tag=4">
			<div>
			  <img style="display: block;" src="../static/image/yw_ylnj.png">
			  <span style="display: block;text-align: center;color: #6A6D72;margin-top: 10px;">养老年金</span>
			</div>
			  </a>
			  <a href="../../../elife/index.html#/product/list/tag=3">
			<div>
			  <img style="display: block;" src="../static/image/bzgn_srbx.png">
			  <span style="display: block;text-align: center;color: #6A6D72;margin-top: 10px;">少儿保险</span>
			</div>
			  </a>
			  <a href="../../../elife/index.html#/product/list/tag=1">
			<div>
			  <img style="display: block;" src="../static/image/bxsc-cfgl.png">
			  <span style="display: block;text-align: center;color: #6A6D72;margin-top: 10px;">财富管理</span>
			</div>
			  </a>
			</div>
		</div>
  
		<div class="public service-center">
			<div class="service-header">
				<a href="../75/index.html#online" class="service-active">
					<span>在线服务</span>
					<p class="arrow-down" style="display: block;"></p>
				</a>
				<a href="../75/index.html#question">
					<p class="arrow-down" style="display: none;"></p>
					<span>常见问题</span>
				</a>
				<a href="../75/index.html#11">
					<span>增值服务</span>
					<!-- <p class="arrow-down" style="display: none;"></p> -->
				</a>
			</div>
  
			<div class="service-footer service-footer1" style="display: flex;">
				<a href="../../../elife/index.html#/user/my-policy" class="fw_a">
					<img class="ser_icon" src="../static/image/bdcx_icon.png">
					<img class="ora_icon" style="display: none;" src="../static/image/bdcx_hover.png">
					<span>保单查询</span>
				</a>
				<a href="../108/index.html" class="fw_a">
					<img class="ser_icon" src="../static/image/bdfw_icon.png">
					<img class="ora_icon" style="display: none;" src="../static/image/bdfw_hover.png">
					<span>保单服务</span>
				</a>
				<a href="" class="fw_a">
					<img class="ser_icon" src="../static/image/lpfw_icon.png">
					<img class="ora_icon" style="display: none;" src="../static/image/lpfw_hover.png">
					<span>理赔服务</span>
				</a>
				<a href="../2100/index.html" class="fw_a">
					<img class="ser_icon" src="../static/image/tbzn_icon.png">
					<img class="ora_icon" style="display: none;" src="../static/image/tbzn_hover.png">
					<span>投保指南</span>
				</a>
				<a href="../2047/index.html" class="fw_a">
					<img class="ser_icon" src="../static/image/xzzx_icon.png">
					<img class="ora_icon" style="display: none;" src="../static/image/xzzx_hover.png">
					<span>下载中心</span>
				</a>
				<a href="../2050/index.html" class="fw_a">
					<img class="ser_icon" src="../static/image/xbyz.png">
					<img class="ora_icon" style="display: none;" src="../static/image/xbyz_hover.png">
					<span>消保云栈</span>
				</a>
			</div>
  
			<div class="service-footer service-footer2" style="display: none; justify-content: flex-start;">
				<a href="../2080/index.html" class="fw_a" style="margin-right: 76px;">
					<img class="ser_icon" src="../static/image/bdfw_icon.png">
					<img class="ora_icon" style="display: none;" src="../static/image/bdfw_hover.png">
					<span>保单服务</span>
				</a>
				<a href="../2082/index.html" class="fw_a" style="margin-right: 76px;">
					<img class="ser_icon" src="../static/image/lpfw_icon.png">
					<img class="ora_icon" style="display: none;" src="../static/image/lpfw_hover.png">
					<span>理赔服务</span>
				</a>
				<a href="../2095/index.html" class="fw_a" style="margin-right: 76px;">
					<img class="ser_icon" src="../static/image/tbzn_icon.png">
					<img class="ora_icon" style="display: none;" src="../static/image/tbzn_hover.png">
					<span>投保指南</span>
				</a>
			</div>
		</div>
  
		<div class="public insurance-business">
			<p>购买渠道</p>
			<div class="insurance-header">
				<a href="../2018/index.html" class="service-active">
					<span>个险渠道</span>
					<p class="arrow-down" style="display: block;"></p>
				</a>
				<a href="../2016/index.html">
					<p class="arrow-down" style="display: none;"></p>
					<span>团险渠道</span>
				</a>
				<a href="../2014/index.html">
					<span>银保渠道</span>
					<p class="arrow-down" style="display: none;"></p>
				</a>
				<a href="JavaScript:;">
					<span>网销渠道</span>
					<p class="arrow-down" style="display: none;"></p>
				</a>
			</div>
			<p>保障功能</p>
			<div class="security bx_security1">
				   <div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/yw_jkbx.png">
					</a>
					<span>健康险</span>
				   </div>
				   <div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/yw_ylnj.png">
					</a>
					<span>年金险</span>
				   </div>
				   <div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/bzgn_srbx.png">
					</a>
					<span>寿险</span>
				   </div>
				   <div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/bz_cfgl.png">
					</a>
					<span>意外伤害险</span>
				   </div>
				<!-- <div></div>
				<div></div> -->
			</div>
			<div class="security bx_security2" style="display: none;">
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/yw_jkbx.png">
					</a>
					<span>健康险</span>
				</div>
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/yw_ylnj.png">
					</a>
					<span>年金险</span>
				</div>
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/bzgn_srbx.png">
					</a>
					<span>寿险</span>
				</div>
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/bz_cfgl.png">
					</a>
					<span>意外伤害险</span>
				</div>
			</div>
  
			<div class="security bx_security3" style="display: none;">
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/yw_jkbx.png">
					</a>
					<span>健康险</span>
				</div>
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/yw_ylnj.png">
					</a>
					<span>年金险</span>
				</div>
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/bzgn_srbx.png">
					</a>
					<span>寿险</span>
				</div>
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/bz_cfgl.png">
					</a>
					<span>意外伤害险</span>
				</div>
			</div>
			<div class="security bx_security4" style="display: none;">
				<div>
					<a href="../2001/index-1_0.html">
						<img src="../static/image/yw_jkbx.png">
					</a>
					<span>健康险</span>
				</div>
			</div>
		</div>
  
		<div class="public disclosure">
			<img class="approach" src="../static/image/gkxxpl.png">
			<div class="approach-right" style="height: 70%;">
				
					<a href="../77/index.html#123" class="approach-title">
						<span>基本信息</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../77/index.html#124" class="approach-title">
						<span>临时信息</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../77/index.html#127" class="approach-title">
						<span>专项信息</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../77/index.html#129" class="approach-title">
						<span>投连专区</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../77/index.html#125" class="approach-title">
						<span>年度信息</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a><a href="../77/index.html#128" class="approach-title">
						<span>重大事项</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a>
				
			</div>
		</div>
  
		<div class="public social-responsibility">
			<img class="approach" style="margin-right: 30px;" src="../static/image/shzr.png">
			<div class="approach-right">
				
					<a href="../78/index.html" class="approach-title">
						<span>社会责任报告</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a>
				
			</div>
		</div>
  
  
		<div class="public recruitment">
			<img class="approach" style="margin-right: 30px;" src="../static/image/rczp.png">
			<div class="approach-right">
				 
					<a href="../132/index.html" class="approach-title">
						<span>校园招聘</span>
						<i>
							<img class="blueRight" src="../static/image/right.png">
							<img class="whiteRight" style="display: none;" src="../static/image/whiteRight.png">
						</i>
					</a>
				
			</div>
		</div>
  
  
		<div class="public jx_c_search ">
			<img class="approach" src="../static/image/ss.png">
			<div class="approach-right">
				<input class="sr_input" type="search" placeholder="请输入关键字进行搜索">
				<a href="../2654/index.html" target="_blank">
				  <button class="ss_btn" style="cursor: pointer;" type="button">搜索</button>
				</a>
			</div>
		</div>
	</div>
  
  </div>
  
  
  <div class="smallheader">
	<div class="headerBtn">
		<img class="nav_icon" src="../static/image/nav_icon.png">
		<img class="nav_icon_light" src="../static/image/nav_icon_2.png">
	</div>
  
	 <a href='../../../index.html'>
		<div class="headerlogo">
		<img class="logo" src="../static/image/white_logo.png">
		<img class="logo_light" src="../static/image/white_logo.png">
	   </div>
	</a>
  </div>
  
  
  <div class="headerLeft">
	<div class="nav_close">
		<img src="../static/image/nav_close.png">
	</div>
	<div class="m-list"> 
		<a href="../88/index.html"> <span>走进昆山保险</span> </a>
		<a href="../../../elife-wechat/index.html"> <span>保险商城</span> </a>
		<a href="../75/index.html"> <span>服务中心</span> </a>
		<a href="../112/index.html"> <span>保险业务</span> </a> 
		<a href="../77/index.html"> <span>公开信息披露</span> </a> 
		<a href="../78/index.html"> <span>社会责任</span> </a> 
		<a href="../79/index.html"> <span>人才招聘</span> </a> 
	</div>
  
	<div class="nav_bottom">
  <a href="../2654/index.html" target="_blank">
		<img src="../static/image/serch_icon.png">
  </a>
		<a href="../2654/index.html" target="_blank"> <span>登录</span> </a> 
		<a href="../2654/index.html" target="_blank"> <span>注册</span> </a> 
	</div>
  
  
  </div>
  
  
  <div class="shade"></div>
  
  <script>
	var that = ''
	$(".header-list").on('mouseenter', 'a', function () {
		that = this
		$("header a").css({
			color: '#303133',
			borderBottom: 'none'
		})
		$(".list-content").show()
		var className = $(this).attr('class')
		switch (className) {
			case 'menu0':
				$('.public').hide()
				$('.approach-jx').show()
				break
			case 'menu1':
				$('.public').hide()
				$('.insurance-shop').show()
				break
			case 'menu2':
				$('.public').hide()
				$('.service-center').show()
				break
			case 'menu3':
				$('.public').hide()
				$('.insurance-business').show()
				break
			case 'menu4':
				$('.public').hide()
				$('.disclosure').show()
				break
			case 'menu5':
				$('.public').hide()
				$('.social-responsibility').show()
				break
			case 'menu6':
				$('.public').hide()
				$('.recruitment').show()
				break
			case 'menu7':
				$('.public').hide()
				$('.jx_c_search').show()
				break
		}
		$(this).css({
			color: '#0066B3',
			borderBottom: '4px #0066B3 solid'
		})
		$(".header").css({
			borderBottom: '1px solid #e6e6e6'
		})
	})
	$(".header-list")
		.mouseleave(function () {
			$(".whiteLogo").show()
			$('.used_div').show()
			$(".blueLogo").hide()
			$(".whiteSearch").show()
			$(".blackSearch").hide()
			$(".list-content").hide()
			$("header a").css({
				color: '#fff',
				borderBottom: 'none'
			})
			$(".header").css({
				borderBottom: 'none'
			})
		})
		.mouseenter(function () {
			$(".whiteLogo").hide()
			$('.used_div').hide()
			$(".blueLogo").show()
			$(".whiteSearch").hide()
			$(".blackSearch").show()
			if (that) {
				$(".list-content").show()
				$("header a").css({
					color: '#303133',
				})
				$(that).css({
					color: '#0066B3',
					borderBottom: '4px #0066B3 solid'
				})
			}
		})
	$(".list-content-detail")
		.mouseenter(function () {
			$(".whiteLogo").hide()
			$('.used_div').hide()
			$(".blueLogo").show()
			$(".whiteSearch").hide()
			$(".blackSearch").show()
			$(".list-content").show()
			$("header a").css({
				color: '#303133',
			})
			$(".header").css({
				borderBottom: '1px solid #e6e6e6'
			})
			$(that).css({
				color: '#0066B3',
				borderBottom: '4px #0066B3 solid'
			})
		})
		.mouseleave(function () {
			$(".whiteLogo").show()
			$('.used_div').show()
			$(".blueLogo").hide()
			$(".whiteSearch").show()
			$(".blackSearch").hide()
			$(".list-content").hide()
			$("header a").css({
				color: '#fff',
				borderBottom: 'none'
			})
			$(".header").css({
				borderBottom: 'none'
			})
		})
	$(".approach-title")
		.mouseenter(function () {
			$(this).children("i").children(".blueRight").hide()
			$(this).children("i").children(".whiteRight").show()
			$(".approach-title").removeClass('active')
			$(this).addClass('active')
		})
		.mouseleave(function () {
			$(".approach-title").removeClass('active')
			$(".blueRight").show()
			$(".whiteRight").hide()
		})
  $('.insurance-header').on('mouseenter', 'a', function () {
	if($(this).index()==0){
	  $('.bx_security1').show()
	  $('.bx_security2,.bx_security3,.bx_security4').hide()
	}else if($(this).index()==1){
	  $('.bx_security2').show()
	  $('.bx_security1,.bx_security3,.bx_security4').hide()
	}else if($(this).index()==2){
	  $('.bx_security3').show()
	  $('.bx_security2,.bx_security1,.bx_security4').hide()
	}else if($(this).index()==3){
	  $('.bx_security4').show()
	  $('.bx_security1,.bx_security3,.bx_security2').hide()
	}
	})
  $('.service-header').on('mouseenter', 'a', function () {
	if($(this).index()==0){
	  $('.service-footer1').show()
	  $('.service-footer2').hide()
	}else if($(this).index()==1){
	  $('.service-footer2').show()
	  $('.service-footer1').hide()
	}else if($(this).index()==2){
	  $('.service-footer2').hide()
	  $('.service-footer1').hide()
	}
	})
	$('.service-header,.insurance-header').on('mouseenter', 'a', function () {
		$('a').removeClass('service-active')
		$('.arrow-down').hide()
		$(this).addClass('service-active')
		$(this).children('.arrow-down').show()
	})
	$(".fw_a")
		.mouseenter(function () {
			$(this).children(".ser_icon").hide()
			$(this).children(".ora_icon").show()
		})
		.mouseleave(function () {
			$(".ser_icon").show()
			$(".ora_icon").hide()
		})
	$(document).ready(function () {
		setTimeout(function () {
			brandTabOffTop = [];
			var p = 0, t = 0;
			var showHeadState = true;
			$(window).scroll(function (event) {
				p = $(this).scrollTop();
				if (t <= p) {
					//向下滚
					if ($(document).scrollTop() >= $('.head').height() + 30) {
						if ($('.head').hasClass('hestate')) {
							$('.head').css({ 'position': 'fixed', 'top': '-72px' });
						} else {
							$('.head').hide();
							$('.head').css({ 'position': 'fixed', 'top': '-72px' });
						}
					}
				} else {
					//向上滚
					if (showHeadState == true) {
						//$('.head_white').removeClass('fixed');
						if ($(document).scrollTop() < $('.head').height()) {
							$('.head').css({ 'position': 'fixed', 'top': '0px' });
							$('.head').removeClass('hestate')
							setTimeout(function () {
								$('.head').css({ 'position': 'absolute', 'top': '0px' });
							}, 50)
						} else {
							$('.head').show();
							setTimeout(function () {
								$('.head').css({ 'position': 'fixed', 'top': '0px' });
								$('.head').addClass('hestate')
							}, 20)
						}
  
					}
				}
			});
  
		}, 50)
	})
	$('.headerBtn').click(function(){
		$('.headerLeft').css('display','block')
		$('.headerLeft').animate({left:'0rem'},800);
		$('.shade').css('display','block')
	})
	$('.nav_close').click(function(){
		$('.headerLeft').animate({left:'-16.25rem'},800,function(){
				$('.headerLeft').css('display','none')
		});
		$('.shade').css('display','none')
	})
	$('.shade').click(function(){
		$('.headerLeft').animate({left:'-16.25rem'},800,function(){
				$('.headerLeft').css('display','none')
		});
		$('.shade').css('display','none')
	})
  </script>
  <style>
  .nav_bottom img{
	  margin-top: 0.3rem;
  }
  </style>
  <header class="common_header" cms:articletop="lpfw-banner" var="b" top="1">
    <div class="h480">
      <img src="../static/image/202106031127490045.png">
    </div>
    <div class="h_content">
      <div>
        <p class="h_title fs48">理赔服务</p>
        <p class="fs20">不惧风险　我来保障</p>
      </div>
    </div>
  </header>
  <div class="poli_header">
    <div class="change">
      <div class="c_l">
        <a href="" class="c_active">个人客户</a>
        <a href="../2091/index.html">团体客户</a>
      </div>
    </div>
  </div>
  <main>
    <div class="common_main">
      <p class="header_item">
        <span>理赔流程</span>
      </p>
      <div class="claim_lc">
        <div cms:list="lp-gr-lplc" var="t" reverse="true">
          <h4>01</h4>
          <p>出险后请及时通知您的服务人员或拨打我司服务热线95331 或 400-8855-668</p>
        </div>
        <div cms:list="lp-gr-lplc" var="t" reverse="true">
          <h4>02</h4>
          <p>请您在事故处理过程中注意收集齐全理赔申请资料（请看考《理赔文件一览表》）</p>
        </div>
        <div cms:list="lp-gr-lplc" var="t" reverse="true">
          <h4>03</h4>
          <p>您需要填写《理赔保险金给付报备及申请书》，并签名确认，然后连同理赔申请资料一并交给您的服务人员</p>
        </div>
        <div cms:list="lp-gr-lplc" var="t" reverse="true">
          <h4>04</h4>
          <p>您的服务人员将理赔申请资料送进保险公司</p>
        </div>
        <div cms:list="lp-gr-lplc" var="t" reverse="true">
          <h4>05</h4>
          <p>保险公司审核后做成的理赔决定，并将理赔结论告知您，同时将您的理赔金按您选择的给付方式予以支付</p>
        </div>
        <div cms:list="lp-gr-lplc" var="t" reverse="true">
          <h4>06</h4>
          <p>病史资料原件退还给您的服务人员</p>
        </div>
        <div cms:list="lp-gr-lplc" var="t" reverse="true">
          <h4>07</h4>
          <p>您的服务人员将退还的资料交还给您</p>
        </div>
        <div var="t" class="a_info">
          <a class="info" href="../2366/detail1160.html">理赔文件一览表</a>
        </div>
      </div>
    </div>
    <!-- <div class="b_bg">
      <div class="common_main pb60">
        <p class="header_item">
          <span>理赔案例</span>
          <a href="/html/42/2085/index.html">查看全部 ></a>
        </p>
        <div class="claim_al">
          <th:block cms:list="lp-gr-lpal" var="t" reverse="false">
            <a th:href="${t.url}">
             <div class="img"> <img th:src="${t.photo}"></div>
              <div>
                <h3 th:text="${t.title}"></h3>
                <p th:text="${t.summary}"></p>
              </div>
            </a>
          </th:block>
        </div>
      </div>

    </div> -->

    <div class="common_main ">
      <p class="header_item">
        <span>常见问题</span>
      </p>
      <ul id="PHONE_data" class="ask_content"></ul>
      <ul id="data2" class="ask_content"></ul>
      <ul class="ask_content" id="ask_content">
        <li cms:list="lp-gr-cjwt" var="t" reverse="false">
          <div class="ask_head">
            <p class="ask_title">
              <img class="t_one" src="../static/image/ask.png">
              <img class="t_two" src="../static/image/ask_1.png">
              <span>我如果出险了，应该怎样办？</span>
            </p>
            <p class="ask_tab">
              <img class="tab_one" src="../static/image/down_c.png">
              <img class="tab_two" src="../static/image/up_c.png">
            </p>
          </div>
          <div class="unfold">在事故发生后十日内，致电业务人员或者直接致电公司服务热线报备，并在指导下填写《理赔保险金申请书》。</div>
        </li>
        <li cms:list="lp-gr-cjwt" var="t" reverse="false">
          <div class="ask_head">
            <p class="ask_title">
              <img class="t_one" src="../static/image/ask.png">
              <img class="t_two" src="../static/image/ask_1.png">
              <span>我该于何时提出理赔申请？</span>
            </p>
            <p class="ask_tab">
              <img class="tab_one" src="../static/image/down_c.png">
              <img class="tab_two" src="../static/image/up_c.png">
            </p>
          </div>
          <div class="unfold">在您全部的就诊结束后请收集证明文件和资料，详见理赔文件一览表，并联系您的业务人员，由其协助您完成理赔申请工作。</div>
        </li>
        <li cms:list="lp-gr-cjwt" var="t" reverse="false">
          <div class="ask_head">
            <p class="ask_title">
              <img class="t_one" src="../static/image/ask.png">
              <img class="t_two" src="../static/image/ask_1.png">
              <span>对于就诊的医院有什么限制？</span>
            </p>
            <p class="ask_tab">
              <img class="tab_one" src="../static/image/down_c.png">
              <img class="tab_two" src="../static/image/up_c.png">
            </p>
          </div>
          <div class="unfold">相应的条款释义部分都有对医院的约定，一般而言，必须到公司指定医院(链接指定医院)就诊治疗。指定医院一般为二级或以上综合性医院和专科医院，不包括观察室、联合病房和康复病房。</div>
        </li>
        <li cms:list="lp-gr-cjwt" var="t" reverse="false">
          <div class="ask_head">
            <p class="ask_title">
              <img class="t_one" src="../static/image/ask.png">
              <img class="t_two" src="../static/image/ask_1.png">
              <span>我有社会医保，单位也能报销部分医药费，我还在其他保险公司买过保险，在申请理赔时这些保障是否会冲突？</span>
            </p>
            <p class="ask_tab">
              <img class="tab_one" src="../static/image/down_c.png">
              <img class="tab_two" src="../static/image/up_c.png">
            </p>
          </div>
          <div class="unfold">根据国家金融财务制度的规定，客户如果因单位报销或在其他保险公司索赔无法提供原始单据，就失去了获得补偿（报销）型险种（如附加住院补偿医疗保险）保险金的资格。根据条款的约定，若被保险人可依法律及政府的规定有所补偿或可从其他福利计划或任何医疗保险计划中取得部分或全部的补偿，则本公司仅给付剩余部分或按比例（视投保险种的不同而定）给付剩余部分。所以在计算补偿型险种的理赔金时我们会扣除社会医保、单位和其他保险公司已报销的费用。对于补贴型险种（如附加住院补贴医疗保险）则不受上述限制。</div>
        </li>
        <li cms:list="lp-gr-cjwt" var="t" reverse="false">
          <div class="ask_head">
            <p class="ask_title">
              <img class="t_one" src="../static/image/ask.png">
              <img class="t_two" src="../static/image/ask_1.png">
              <span>社会医保中哪些费用是可以申请赔付的？</span>
            </p>
            <p class="ask_tab">
              <img class="tab_one" src="../static/image/down_c.png">
              <img class="tab_two" src="../static/image/up_c.png">
            </p>
          </div>
          <div class="unfold">自负支付、帐户支付可以申请理赔，而统筹支付、附加支付不理赔。</div>
        </li>
      </ul>
      <div class="pl_paging">
        <div onclick="pl_page_data(1)">首页</div>
        <div onclick="upper(true)">上一页</div>
        <div onclick="upper(false)">下一页</div>
        <div onclick="pl_page_data(0)">尾页</div>
        <div>当前第<span class="pl_item"></span>页</div>
        <div>总共<span class="pl_counts"></span>条 共<span class="pl_pages"></span>页</div>
    </div>
<div class="PHONE ph_more" style="margin-top: 1.5rem;">
    <a href="JavaScript:;" onclick="ph_more()">查看更多</a>
</div>
    </div>
  </main>
  
<div class="jx-dh-footer">
    <div class="footer_contain">
      
        <div class="footer_left"><div class="concat"><span style="font-family:PingFang SC;">全国客户服务热线：95331 或 <span style="color:#ffffff;">400-8855-668</span><br>
邮箱：CN-Service@ksbxzp.cn<br>
通讯地址：昆山市区银城路99号建行大厦29-33楼</span></div>

<div class="copyright"><span style="font-family:PingFang SC;"><a href="../2200/index.html" style="font-size:12px; color:#fff;display:inline">法律声明</a> | <a href="../2201/index.html" style="font-size:12px; color:#fff;display:inline">安全说明</a><br>
版权所有 &#xa9; 昆山保险人寿保险股份有限公司 未经许可不得复制、转载或摘编，违者必究!</span><br>
<span style="font-family:PingFang SC;"><a href="javascript:;" style="color:#fff;">经营许可证编号：沪ICP备17044175号-1 沪公网安备：31011502015841</a><br>
本网站已支持IPv6</span></div>
</div>
        <div class="footer_left"></div>
        <div class="footer_center">
          <div class="code">
            <div class="inside">
              <div class="qr">
                <img src="../static/image/hz_ewm.png">
              </div>
              <p>官方微信号</p>
            </div>
          </div>
        </div>
        <!-- 移动端二维码 -->
        <div class="m_center">
          <div class="m_code">
            <div class="m_img">
              <img src="../static/image/hz_ewm.png">
            </div>
            <div class="font">昆山保险人寿官方微信</div>
          </div>
  
          <div class="footer_right">
            <div class="footer_select">
              <select id="select1">
              </select>
              <img src="../../6039/static/image/select_Bt_W.png" class="select_img">
              <button type="button" onclick="btnclick()">进入</button>
            </div>
            <div class="footer_search">
              <input type="text" placeholder="请输入" class="footerInput">
              <a href="../2654/index.html" target="_blank">
                <button type="button" style="cursor: pointer;">
                      搜索
                </button>
              </a>
            </div>
          </div>
        </div>
      
    </div>
  </div>
  <div class="m_law">
    <div class="m_font">
    </div>
  </div>
  <div class="left_menu">
    <ul>
  <a href="JavaScript:;openWinKefu()">
      <li class="lxkf">
        <div class="l_menu_img">
          <img class="l_icon" alt="" src="../static/image/kf_icon.png">
          <img class="l_icon_hover" style="display: none;" alt="" src="../static/image/kf_hover.png">
        </div>
        <div class="l_menu_info">
          在线客服
        </div>
      </li>
  </a>
      <li class="gzwx">
        <div class="l_menu_img">
          <img class="l_icon" alt="" src="../static/image/wx_icon.png">
          <img class="l_icon_hover" style="display: none;" alt="" src="../static/image/wx_hover.png">
        </div>
        <div class="l_menu_info">
          关注微信
        </div>
        <div class="left_ewm">
          <img alt="" src="../static/image/hz_ewm.png">
          <p>扫一扫关注 <br>官方微信</p>
        </div>
      </li>
      <a href="../2654/index.html" target="_blank">
        <li class="dcwj">
          <div class="l_menu_img">
            <img class="l_icon" alt="" src="../static/image/yjfk_icon.png">
            <img class="l_icon_hover" style="display: none;" alt="" src="../static/image/yjfk_hover.png">
          </div>
  
          <div class="l_menu_info">
            建议反馈
          </div>
        </li>
      </a>
      <li class="top" id="p_top">
        <div class="l_menu_img">
          <img class="l_icon" alt="" src="../static/image/top_icon.png">
          <img class="l_icon_hover" style="display: none;" alt="" src="../static/image/top_hover.png">
        </div>
        <div class="l_menu_info">
          返回顶部
        </div>
      </li>
    </ul>
  </div>
  <style>
  .left_menu li:hover{
  cursor: pointer;
  }

  .bg_all_ak{
  background-color: #005BAC !important;
  }
  .footer_right>.footer_select>select {
    width: 172px;
    height: 100%;
    background: #005BAC;
    color: #fff;
    float: left;
    text-indent: 15px;
  }
  .footer_right>.footer_select>select>option {
    background: #f4f4f4;
    color: #0066B3;
  }
  .footer_right>.footer_select>button {
    cursor: pointer;
  }
  .footerInput::-webkit-input-placeholder{ /*WebKit browsers*/
    color: #fff;
    font-size: 14px;
  }
  @media screen and (max-width: 750px){
    .l_menu_info{
      display: none;
    }
  }
  .footer_select select{
        -webkit-appearance: none;
  }
  </style>
</body>
<script>

  $(function () {
    $("#ask_content").addClass("dis");
    var _data = $("#ask_content>li").clone(true);
    $.Pl_paging(_data, "#data2");
  });
</script>

<style>
.img {
    height: 200px;
    padding: 0 !important;
    overflow: hidden;
}
.claim_al >a:hover{
    box-shadow: 0px 3px 20px rgba(0, 102, 179, 0.1);
}
</style>